.about{
    width: 96.7%;
    height:auto;
    background:none;
    margin-top: 0px;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 0px;
    /* background-color: blue; */
}
.about-content{
    width: 33%;
    margin-top: -100px;
}
.about-content h1{
    font-size: 50px;
    font-weight: 300;
}
.about-content .black{
    font-weight: 700;
}
.about-content h2{
    font-size: 20px;
    color: #4b4b4b;
    margin-top: 30px;
    margin-bottom: 0px;
}
.about-content h1::after{
    content: "";
    background:none;
}
.about::before{
    content: "";
    background: none;
}
.about-content p{
    font-size: 20px;
    color: #4b4b4b;
    margin-top: 4px;
    line-height: 30px;
}
.about_image{
    margin-top: 30px;
    /* background-color: red; */
}
.about_image .div1 img{
    width: 185px;
    height: 250px;
}
.about_image .div4 img{
    width: 280px;
    height: 430px;
    position: relative;
    top: -230px;
    left: 100px;
}
.about_image #div2{
    background-color: white;
    position: relative;
    top: -50px;
    left: -60px;
    z-index: -1;
}
.about::after{
    content: "";
    height: 482px;
    width: 835px;
    border-radius: 251px;
    background-color: #f8efbc;
    transform: rotate(-160deg);
    position: absolute;
    top: 130px;
    left: 680px;
    z-index: -2;
    opacity: 0.5;
}

.champions {
    width: 95%;
    display: flex; 
    align-items: center;
    justify-content: center; 
    gap: 60px; 
    padding: 20px;
    margin-top: -130px;
    position: relative;
}
.champions::before{
    content: "";
    height: 482px;
    width: 635px;
    border-radius: 251px;
    transform: rotate(-160deg);
    background-color: #f8efbc;
    position: absolute;
    opacity: 0.5;
    top: -150px;
    z-index: -1;
    left: -300px;
}
.champ_content{
    width: 40%;
}

.champ_content h1{
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    line-height: 60px;
    position: relative;
}
.champ_content h1::after{
    content: "";
    width: 80px;
    height: 3px;
    position: absolute;
    top: 53px;
    left: 0px;
    background-color: #f9c935;
}
.champ_content p{
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
    margin: 10px 0px;
}
.champ_img{
    width: 40%;
}
.champ_img img{
    width: 100%;
    height: 190px;
}
.work{
    width: 100%;
    margin-top: 150px;
    margin-bottom: -150px;
    text-align: center;
    height: 500px;
    padding: 90px 0px;
    background: #f9c935 url(../../../../public/assets/Jobs-@-Rapido.webp);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}
.work h1{
    font-size: 50px;
    color: white;
    font-weight: 300;
    line-height: 60px;
    margin-top: 70px;
}
.work p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin: 20px 0px;
}
.work button{
    font-size: 16px;
    font-weight: bold;
    padding: 20px 50px;
    color: white;
    outline: none;
    border: none;
    background-color: black;
    border-radius: 30px 30px 30px 5px;
    cursor: pointer;
}


/* Media Queries for Responsiveness */
@media (max-width: 1000px) {
    .about-content {
        width: 90%;
        margin-top: 100px;
    }
    .about-content h1 {
        font-size: 35px;
    }
    .about-content h2 {
        font-size: 18px;
    }
    .about-content p {
        font-size: 16px;
    }
    .about::after{
        width: 130%;
        height: 700px;
        /* height: 10%; */
        top: 500px;
        left: 0px;
    }
    .about_image{
        margin: 0 auto;
    }
    .about_image .div1 img {
        width: 200px;
        height: 250px;
        position: relative;
        top: -50px;
        left: -150px;
    }
    .about_image .div4 img {
        position: relative;
        top: -150px;
        left: -10px;
    }
    .about_image{
        margin-bottom: 50px;
    }
    .about_image #div3{
        display: none;
    }
    .champions {
        flex-direction: column;
        gap: 40px;
    }
    .champions::before{
        top: 0px;
        left: -200px;
    }
    .champ_content {
        width: 100%;
    }
    .champ_content p{
        font-size: 16px;
        line-height: 24px;
    }
    .work{
        margin-top: 30px;
    }
    .work h1 {
        font-size: 30px;
    }
    .work p {
        font-size: 18px;
    }
    .work button {
        font-size: 14px;
        padding: 15px 40px;
    }
}

/* For extra small devices (phones in portrait mode) */
@media (max-width: 600px) {

    .about-content {
        width: 100%;
        /* margin-top: 60px; */
        padding-left: 20px;
    }

    .about-content h1 {
        font-size: 28px;
    }

    .about-content h2 {
        font-size: 16px;
    }
    .about-content p {
        font-size: 14px;
    }
    .about::after{
        width: 100%;
        height: 285px;
        /* height: 10%; */
        transform: rotate(0deg);
         top: 442px;
         left: 5px;
    }
    .about_image{
        margin-bottom: 100px;
    }
    .about_image .div1 img {
        width: 200px;
        height: 250px;
        position: relative;
        top: -80px;
        left: -5px;
        object-fit: cover;
    }
    .about_image .div4 img {
        width: 200px;
        height: 250px;
        position: relative;
        top: -80px;
        left: 10px;
    }

    .champions {
        flex-direction: column;
        gap: 30px;
    }

    .champ_content {
        width: 100%;
    }
    .champ_content h1{
        font-size: 26px;
    }
    .champ_content p{
        font-size: 16px;
        line-height: 26px;
    }
    .champ_img {
        width: 90%;
    }
    
    .work h1 {
        font-size: 25px;
    }

    .work p {
        font-size: 16px;
    }

    .work button {
        font-size: 12px;
        padding: 12px 35px;
    }
}

