.ride_footer{
    width: 100%;
    background-color: white;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 300000;
    margin-top: 5px;
    box-shadow: 0px 0px 8px rgb(98, 97, 97,0.5);
}
.ride_footer div{
    width: 10%;
    text-align: center;
}
.ride_footer div i{
    font-size: 22px;
    cursor: pointer;
}
.ride_footer div p{
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
    /* color: red; */
}